/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
:root {
  --custom-color: #000;
  --custom-font: Kai, 'Songti SC', STZhongsong, SimSun, STSong;
}

[data-theme='dark'] {
  --custom-color: #fff;
}

.heroBanner {
  height: 100vh;
  margin-top: -60px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/static/img/bg.png');
}

.heroTitle {
  font-size: 2rem;
  color: var(--custom-color);
  font-family: var(--custom-font);
  transition: all 0.3s ease-in-out;
}

.heroSubtitle {
  font-size: 1.25rem;
  color: var(--custom-color);
  font-family: var(--custom-font);
  transition: all 0.3s ease-in-out;
}

.zxfcl {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  object-fit: conver;
  opacity: 0.75;
}

.ywysl {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 280px;
  object-fit: conver;
  transition: all 0.3s ease-in-out;
}

[data-theme='dark'] .ywysl {
  filter: invert(0.75);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }

  .zxfcl {
    width: 180px;
  }

  .ywysl {
    width: 180px;
  }
}